body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.main_logo{
    width: 70%; 
    display: block; 
    margin: auto;
    margin-left: 17%;
    margin-top: -15%;
}
.phone{
    line-height: 1px;
}

.container-fluid{
 margin-top:-1% ;
text-align: center;
padding-left: 20%;
}

.col1{
    margin-left: 15%;
}
.icon{
    color:#73ecb2;
}
footer{
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}
