body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    
}

.main_logo{
    width: 70%;
    display: block; 
    margin: auto;
    margin-left: 17%;
    margin-top: -15%;

}
.card-img{
    width:500px;
   height:900px;
   opacity:0.85;
}
.card-img-overlay{
    text-align: center;
    color:#529273 ;
    margin-top: 5%;
}
.phone{
    line-height: 1px;
}

h3{
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #4EBD87;
}
.why{
background-color: #EEEEEE;
text-align: center;
margin:auto;

}
.why_us{
    margin-left: 3%;
    color: #4EBD87;
}
.serv{
    color: #4EBD87;
}

.col1{
    margin-left: 15%;
}
ul{
list-style: none;
}
.service_list{
    margin-right: 10%;   
}

.row{
    margin-top: 4%;
}

.service{
    padding-bottom: 4%;
    margin-bottom: 5%;
    background-color:#EEEEEE;
}
.services{
    text-align: center;
    width:30%;
    margin-right: 18%;
}
.clean_img1,
.clean_img2{
    width:300px;
    height: 300px;
    margin-left: 35%;
}

.icon{
    color:#73ecb2;
}

.row_facebook{
    text-align: center;
}
.container-fluid_social{
width: 80%;
align-items: center;
margin-left: 12%;
}
#Social_media{
  
    height:450px;
    margin:auto;
    width:90%;
    padding-top: 5%;
}
#window{
    width:50%;
    height:50%;
}
footer{
    width:100%;
    margin: auto;
    text-align: center;

    color: #EEEEEE;
}
.footer_end{
    color: #EEEEEE;
}


.social_img:hover{
    transform: scale(1.5);
}
.nav_home{
    width:90px;
    height:70px;
}
.end{
background-color: #529273;
}