body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;  
}

.navbar{
    margin-right: 10%; 
}
.main_image{
 margin-right:20%;

}
#main{
text-align: center;
margin-top: -78%;
padding-bottom: 30%;

}

header{
    padding-left: 18%;
}
.card-img{
    width:500px;
   height:900px;
   opacity:0.85;
}
.card-img-overlay{
    text-align: center;
    color:#529273 ;
    margin-top: 5%;
}
.phone{
    line-height: 1px;
}

h3{
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #4EBD87;
}
.why{
text-align: center;
padding-top: 25%;
margin:auto;

}
.why_us{
    margin-left: 3%;
    color: #4EBD87;
}
.serv{
    color: #4EBD87;
}

.col1{
    margin-left: 15%;
}
ul{
list-style: none;
}
.service_list{
    margin-right: 10%;   
}

.row{
    margin-top: 4%;
}

.service{
    padding-bottom: 4%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.services{
    text-align: center;
    width:30%;
    margin-right: 18%;
}
.clean_img1,
.clean_img2{
    width:300px;
    height: 300px;
    margin-left: 35%;
}

.icon{
    color:#73ecb2;
}


.facebook{
 margin-top: 20%;
 text-align: center;
}
#facebook-btn{
 margin-left: 45%;
 padding-left:2%;
 padding-right:2%;
 
}
#window{
    width:50%;
    height:50%;
}
footer{
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}


.nav_home{
    width:90px;
    height:70px;
}
.end{
background-color: #529273;
}

@media screen and (max-width:667px){
    .nav_home{
        width:20%;
        height:20%;
        float:right;
    }
}

@media screen and (max-width:667px){
#main{
  font-size: x-small;
}
}
@media  screen and (max-width:667px) {
    h1,h2{
        font-size: large;
    }
}
@media  screen and (max-width:500px) {
    p{
        font-size: small;
    }
     }
@media  screen and (max-width:500px) {
    #cta{
         margin-left: 2%;
        }
         }
@media  screen and (max-width:500px) {
    .clean_img1,
    .clean_img2{
        width:150px;
        height: 150px;
        margin-left: 20%;
    }
}

@media  screen and (max-width:812px) {
    .services{
margin:auto;
margin-top: 15%;
margin-bottom:15% ;
    }
}
@media  screen and (max-width:500px) {
    h3{
        font-size: medium;
       
    }
     }
@media  screen and (max-width:500px) {
.ul_us{
margin-right:15%;
}
}

@media  screen and (max-width:500px) {
    #Social_media{
margin-right: -20%;
}

}
@media  screen and (max-width:500px) {
.facebook{
    margin-left:-18%;
}
}
@media  screen and (max-width:500px) {
#facebook-btn{
    margin-left:36%;
    margin-bottom: 5%;
}

}