body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
nav{
    background: rgba(255, 255, 255, 0.473);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
   margin-bottom: 10%;
   
   }
.navbar-brand{
    padding-left: 35%;
    }

.nav_home{
    width:90px;
    height:70px;
}
.nav-item1,.nav-item2,.nav-item3{
    color:black;
    border-radius: 4px;
    transition: color 1s;
}

.nav-item1:hover,.nav-item2:hover,.nav-item3:hover {
    background-color: #004588;
    color: #ffff;
    border-radius: 7px;
}
.main-head{
    text-align: center;
 margin-top: -40%;
 margin-right: 8%;
 padding-bottom: 30%;

}
.main_image{
    width:70%;
    margin-left:15%;
}

.about_us{
    text-align: center;
  padding-top: 3%;
    margin:auto;
    padding-bottom: 3%;
    margin-bottom: 5%;
    }

.card-img-overlay{
    text-align: center;
    margin-top: 10%;
    color:#25589D;
}
h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top:5%;
    padding-bottom: 5%;
}
h2:after {
    background: none repeat scroll 0 0 #004588;
    margin:auto;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 100px;
 }
.phone{
    line-height: 1px;
}
.service_circle{
   width:128px;
   height:128px;
   padding:5%;
   border-radius: 35%;
}

.acdc{
    margin: auto;
}
.transformers{
    margin-top: 2%;
  float:right;
  margin-right: 5%;
}
.other{
    margin-top: 3%;
    margin-left: 5%;
}
ul{
list-style: none;
}
footer{
    color: #C0CFDF;
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}
.serv{
    width:fit-content;
    margin:auto;
}
.more_info{
    text-align: center;
    padding-top: 5%;
 padding-bottom:5% ;
}

@media screen and (max-width:667px){
    .nav_home{
        width:20%;
        height:20%;
        float:right;
    }
}

@media  screen and (max-width:500px) {
    h2,h1{
        font-size: x-large;
    }
}
@media screen and (max-width:667px){
.main-head{
 margin-top: -60%;
 font-size:x-small;
}
}

@media  screen and (max-width:500px) {
    h5,h3,h4{
        font-size: medium;
    }
     }
@media  screen and (max-width:500px) {
     p{
        font-size: small;
    }
     }
@media  screen and (max-width:500px) {
    #cta{
        margin-left: 2%;
     }
    }
@media  screen and (max-width:500px) {
    .service_circle{
        width:64px;
        height: 64px;
    }
}