body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.navbar{
margin-right: 10%;
}
.nav_home{
    width:90px;
    height:70px;
}
.main-head{
    text-align: center;
 margin-top: -40%;
 margin-right: 8%;
 padding-bottom: 30%;

}
.main_image{
    width:70%;
    margin-left:15%;
}

.about_us{
    text-align: center;
  padding-top: 3%;
    margin:auto;
    padding-bottom: 3%;
    margin-bottom: 5%;
    }

.card-img-overlay{
    text-align: center;
    margin-top: 10%;
    color:#25589D;
}
h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top:5%;
    padding-bottom: 5%;
}
.phone{
    line-height: 1px;
}

.acdc{
    margin: auto;
}
.transformers{
    margin-top: 2%;
  float:right;
  margin-right: 5%;
}
.other{
    margin-top: 3%;
    margin-left: 5%;
}
ul{
list-style: none;
}
footer{
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}
.serv{
    width:fit-content;
    margin:auto;
}
.more_info{
    text-align: center;
    padding-top: 5%;
 padding-bottom:5% ;
}

@media screen and (max-width:667px){
    .nav_home{
        width:20%;
        height:20%;
        float:right;
    }
}

@media  screen and (max-width:500px) {
    h2,h1{
        font-size: x-large;
    }
}
@media screen and (max-width:667px){
.main-head{
 margin-top: -60%;
 font-size:x-small;
}
}

@media  screen and (max-width:500px) {
    h5,h3,h4{
        font-size: medium;
    }
     }
@media  screen and (max-width:500px) {
     p{
        font-size: small;
    }
     }
@media  screen and (max-width:500px) {
    #cta{
        margin-left: 2%;
     }
    }
