body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.navbar{
margin-right: 10%;
}
.nav_home{
    width:90px;
    height:70px;
}
.main-head{
    text-align: center;
 margin-top: -40%;
 margin-right: 28%;
}
.main_image{
    margin-left:17%;
}

.about_us{
    text-align: center;
  padding-top: 3%;
    margin:auto;
    padding-bottom: 3%;
    margin-bottom: 5%;
    }

.card-img-overlay{
    text-align: center;
    margin-top: 10%;
    color:#25589D;
}
h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top:5%;
    padding-bottom: 5%;
}
.phone{
    line-height: 1px;
}

.acdc{
    margin: auto;
}
.transformers{
    margin-top: 2%;
  float:right;
  margin-right: 5%;
}
.other{
    margin-top: 3%;
    margin-left: 5%;
}
ul{
list-style: none;
}
footer{
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}
.serv{
    width:fit-content;
    margin:auto;
}
.more_info{
    text-align: center;
    padding-top: 5%;
 padding-bottom:5% ;
}