body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.main_logo{
    width: 70%; 
    display: block; 
    margin: auto;
    margin-left: 17%;
    margin-top: -15%;
}
h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top:5%;
}
.aboutus_container{
    background-color:#ebf1e9;
    height: max-content;
    padding-bottom: 5%;
}
.about_content{
    text-align: center;
    margin-top: 5%;
}
.Industries{
   display:flex;
   justify-content: center;
   column-gap: 40px;
}

.phone{
    line-height: 1px;
}
footer{
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}
