body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;    
}

#head{
    background-image:url(image/pexels-johannes-plenio.jpg);
    height:800px; 
} 

.dropdown-menu{
    border:none; 
    background-color: #c6d8d5;}

.dropdown-item:hover{
   background-color: #698E97; 
}

.main_logo{
    width: 63%; 
    display: block; 
    margin: auto;
    margin-left: 17%;
 height: 770px;
}

h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top:5%;
    padding-bottom: 5%;
}
.aboutus_container{
  margin-top: 5%;
  margin-bottom: 5%;
    height: max-content;
    padding-bottom: 5%;
}
.about_content{
    text-align: center;

}
#company_profile{
    margin-left: 45%;
    border-color: #34BE82;
    background-color: white;
}
#guarantee-btn{
    border: none;
    background-color:#dfe7df ;
}
.fa-thumbs-up{
    color: #4EBD87;
    font-size: 70px;
}
.circle{
    margin: auto;
        width: 400px;
        height: 400px;
        background: #dfe7df; 
        -moz-border-radius: 200px; 
        -webkit-border-radius: 200px; 
        border-radius: 200px;
    
}

.guarantee{
    text-align: center;
    padding-top: 30%;
 padding-bottom:30% ;
    margin-top: 20%;
}
.container_industry{
    margin: auto;
    border-radius: 25px;
    background-color:#e0e4e0;
    width:80%;
    height: 400px;
}

#industry{
    margin-top: 5%;
}
.Industries{
   display:flex;
   margin:auto;
   margin-bottom: 15%;
   justify-content: center;
   column-gap: 40px;
 
}

ul{
    list-style: none;
    text-align: center;
}
.clean_btn_icon,.engin_btn_icon{
    width: 100px;
    height:100px;
    font-size: 48px;
    color: #25589D;
}
.clean_btn_icon:hover,.engin_btn_icon:hover{
  color: #78acf5;
}

.phone{
    line-height: 1px;
}
footer{
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}
.footer_background{
    background-color: #B2BFB3;
    color:#FFF7E0;

}
