body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;    
}
#head{
    background-image: url("image/ayman-hallak-1wlvPzWQr1A-unsplash.jpg");
    height:710px;   
}

nav{
 background: rgba(255, 255, 255, 0.473);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
margin-bottom: 10%;
}

.nav_home{
    width:90px;
    height:70px;
 
}
.navbar-brand{
    padding-left: 35%;
    }

.nav-item1,.nav-item2,.nav-item3{
    padding-bottom: -5%;
    border-radius: 4px;
    transition: color 1s;
}

.main_logo{
 width:1000px;
 height:900px;
}

#main{
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    width:50%;
   padding: 5% 0;
    margin:auto;
    }

h2,h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding:5% 0;
   
}
h2:after {
    background: none repeat scroll 0 0 #004588;
    margin:auto;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 100px;
 }

.aboutus_container{
  margin-top: 5%;
  height: max-content;
}
.about_content{
    width:50%;
    margin:auto;
    text-align: center;
}
.cover1{
    background-image: url('image/coalstation.jpg');
  opacity: 0.75;
}
.cover2{
    background-image: url('image/live\ transformer.jpg');  
    opacity: 0.75;
}

.acc-h2{
    font-weight: 800;
}

.service_for{
    width:65%;
    border:none;
    display: block;
    margin:auto;
    padding-top: 10%;
}

.provide_services{
    margin-top: 5%;
    width: 20rem;
    border:none;
    width:65%;
    display: flex;
    flex-direction: row;
  margin:auto;

}

#company_profile{
    margin-top: 5%;
    margin-left: 44%;
    border-color: #004588;
    background-color: #004588;
    color:#fff;
}
.serv{  
    width:fit-content;
    margin:auto;
    margin-bottom: 6%;
}
.service-p{
    width:50%;
    margin:auto;
    padding-bottom: 5%;
}
.service_circle{
    width:128px;
    height:128px;
    padding:5%;
    border-radius: 35%;
 }
 
 .acdc{
     margin: auto;
 }
 .transformers{
     margin-top: 2%;
   float:right;
   margin-right: 5%;
 }
 .other{
     margin-top: 3%;
     margin-left: 5%;
 }
.Industry{
    padding-top: -10%;
    text-align: center;
}

#guarantee-btn{
    border: none;
    background-color:#fff ;
}

.guarantee{ 
    color:#fff;
    position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/marjan-blan-marjanblan-6bXvYyAYVrE-unsplash.jpg);
    background-size: cover;
    text-align: center;
    padding: 6% 0;
}
.guarantee::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 46, 95, 0.342);
}
.accreditation{
display:block;
margin:auto;
padding-bottom: 5%;
padding-left: 10%;

}

.card{
    border:none;
}

.accreditation_info{ 
 justify-content: center;
 padding-right: 10%;
}


ul{
    list-style: none;
    text-align: center;
}

.mail:hover ,.dial:hover{
    transform: scale(1.5); 
  }

.phone,.area{
    line-height: 1px;
}

.footer_background{
    margin-top: -5%;
}

footer{
   color: #C0CFDF;
    width:80%;
    margin: auto;
    text-align: center;
    padding-left: 20%; 
}
.footer_end,small{
    color:#C0CFDF ;
}
small{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vl {
    border-left: 6px solid #004588;
    height: 100px;
  }
.slogan_p{
    padding-top: 5%;
}

@media screen and (max-width:500px){
#head{
    background-image:url("image/ayman-hallak-1wlvPzWQr1A-unsplash.jpg");
    height:450px;

}
}

 @media screen and (max-width:500px){
     .main_logo,#company_profile,#main{
         width:100%;
         margin:auto;
     }
     
 }
 @media screen and (max-width:1024px){
    #company_profile{
        width:fit-content;
        margin-left:30%;
    }
 }
 @media  screen and (max-width:500px) {
     h2,h1{
         font-size: x-large;
     }
 }

 @media  screen and (max-width:500px) {
h5,h3{
    font-size: medium;
}
 }

 @media  screen and (max-width:500px) {
p,ul{
    font-size: small;
    text-align: center;
}
 }
 
 @media  screen and (max-width:500px) {
h4{
    font-size: medium;
    text-align: center;
}
 }

 @media  screen and (max-width:500px) {
    .service_circle{
        width:64px;
        height:64px;
        padding:2%;
        border-radius: 35%;
     }
 }

 @media  screen and (max-width:500px) {
#cta{
    margin-left: 2%;
}
 }